@import "_variables";
@import "_mixins";

.formula {
	position: absolute;
	left: 0;
	right: 0;
	top: $header-height+$toolbar-height;
	height: $formula-height;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border-color;

	.info {
		font-size: 18px;
		font-style: italic;
		border-right: 1px solid $border-color;
		text-align: center;
		min-width: $info-cell-width;
	}

	.input {
		outline: none;
		height: 100%;
		width: 100%;
		padding: 4px;
		font-size: 12px;
		color: #000;
	}
}